/* only media queries for responsive design here */
/* Medium desktops and laptops */
@media (max-width: 2000px) {
  #form-container {
    width: 50vw;
  }
}

/* Medium desktops and laptops */
@media (max-width: 1200px) {
  #form-container {
    width: 60vw;
  }
}

/* Tablets and small desktops */
@media (max-width: 992px) {
  #form-container {
    width: 60vw;
  }
}

/* Landscape tablets and large smartphones */
@media (max-width: 768px) {
  #form-container {
    width: auto;
  }
  #page-title-input {
    max-width: 80vw;
  }
}

/* Portrait tablets and medium smartphones */
@media (max-width: 576px) {
  #form-container {
    width: auto;
  }
  #page-title-input {
    max-width: 40vw;
  }
  select {
    width: fit-content;
  }
}

/* Small smartphones */
@media (max-width: 360px) {
  #form-container {
    width: auto;
  }
}
